.searchBarContainer :global(.vtex-input-prefix__group) {
    border: 1px solid #299d30;
    border-radius: 50px;
}
.searchBarContainer{
    max-width: unset;
    padding-left: .5rem;
    padding-right: .5rem;
}
.searchBarIcon { 
    padding: 0;
}
.searchIcon{
    color: #299d30;
}