.styledLinkContainer {
    padding: 10px 15px;
    margin: 0;
    border-right: 1px solid #299d30;
    min-width: 150px;
}
.styledLinkContent {
    justify-content: center;
}

.submenuWrapper{
    padding: 0;
    width: 100%;
    border: 1px solid #299d30;
}
.submenuWrapper .submenu .menuContainerNav{
    width: 100%;
}

.submenu .menuContainerNav .menuContainer{ 
    flex-direction: column;
    position: relative;
}

.submenu .menuContainerNav .menuContainer .menuItem {
    margin: 0;
    border-bottom: 1px solid #299d30;
}

.submenu .menuContainerNav .menuContainer .menuItem .styledLinkContainer{
    border-right: none;
    padding: 10px 15px;
    text-align: center;
}

.submenu .menuContainerNav .menuContainer .menuItem .styledLinkContent {
    justify-content: center;
}


.submenuContainer .menuItem .submenuContainer {
    position: absolute;
    top: -1px;
    left: 100%;
    width: 160px;
}

.submenuContainer .menuItem .submenuContainer .submenuWrapper{
    background-color: #f1f1f1;
}

.submenuContainer .menuItem .submenuContainer .submenuWrapper .menuItem:hover{
    background-color: #299d30;
}

.submenuContainer .menuItem .submenuContainer .submenuWrapper .menuItem:hover .styledLinkContent{
    color: #fff;
}

.styledLinkContainer .menuItem--isOpen .styledLinkContent{
    position: relative;
}

.menuItem--isOpen .submenuContainer .submenuWrapper--isOpen .menuItem--isOpen .styledLinkContainer{
    position: relative;
}
.menuItem--isOpen .submenuContainer .submenuWrapper--isOpen .menuItem--isOpen .styledLinkContainer::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #299d30;    
}

.menuItem--isOpen .submenuContainer .submenuWrapper--isOpen .menuItem--isOpen .submenuContainer .submenuWrapper--isOpen .styledLinkContainer{
    border: 0;
}
.menuItem--isOpen .submenuContainer .submenuWrapper--isOpen .menuItem--isOpen .submenuContainer .submenuWrapper--isOpen .styledLinkContainer::after{
    display: none;
}

.menuContainerNav--mobile-navigation {
    width: 100%;
}

:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .styledLinkContainer .styledLinkContent {
    justify-content: start!important;
    position: relative;
}

:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .styledLinkContent::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='800px' width='800px' version='1.1' id='Capa_1' viewBox='0 0 185.343 185.343' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23010002;' d='M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175 l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934 c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
    transition: all .2s;
}

:global(.vtex-store-drawer-0-x-drawerContent) .menuItem--isOpen .styledLinkContent::after{
    transform: translateY(-50%) rotate(90deg);
}


:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .styledLinkContainer {    
    border-right: 0;    
}

:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .submenuWrapper{
    position: relative;
}

:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .menuItem .submenuContainer{
    position: relative;
    left: unset;
    width: 100%;
    top: unset;
}

:global(.vtex-store-drawer-0-x-drawerContent) .submenu .menuContainerNav .menuContainer .menuItem .styledLinkContainer{
    text-align: left;
}

:global(.vtex-store-drawer-0-x-drawerContent)  .submenu .menuContainerNav .menuContainer .menuItem{
    border: 0;
}
:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .submenuWrapper{
    border: 0;
}

:global(.vtex-store-drawer-0-x-drawerContent) .menuItem--isOpen .submenuContainer .submenuWrapper--isOpen .menuItem--isOpen .styledLinkContainer::after{
    display: none;
}

:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .submenuContainer .styledLinkContent {
    padding-left: 15px; 
}
:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .submenuContainer .menuItem  .styledLinkContent::after {
    transform: translateY(-50%) rotate(0deg);
}
:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .submenuContainer .menuItem--isOpen .styledLinkContent::after {
    transform: translateY(-50%) rotate(90deg);
}

:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .submenuContainer .menuItem .submenuContainer  .styledLinkContent{
    padding-left: 30px;
}
:global(.vtex-store-drawer-0-x-drawerContent) .menuItem .submenuContainer .menuItem .submenuContainer  .styledLinkContent::after {
    display: none;
}

:global(.vtex-store-drawer-0-x-drawerContent)  .submenuContainer .menuItem .submenuContainer .submenuWrapper {
    background-color: transparent;
}